@media (min-width: 1024px) {
  .main {
    background: url("../img/depositphotos-117989744-xl-2015-1.jpg") no-repeat center/cover;
    position: relative;
    padding: 10% 25% 0 15%;
  }
  .main__h1 {
    font-size: 3.5rem;
  }
  .main__h1.--final {
    max-width: 60%;
  }
  .main__text {
    font-size: 1.0625rem;
  }
  .main__text.--start {
    max-width: 80%;
  }
  .main__text.--second {
    line-height: 1.41;
    max-width: 585px;
  }
  .main__text.--third {
    width: 60%;
  }
  .main__text.--fourth {
    line-height: 1.41;
    width: 60%;
  }
  .main__text.--final {
    max-width: 60%;
  }
  .main__line_recruiter {
    max-width: 40%;
  }
  .main__number_list {
    max-width: 60%;
  }
  .main__form {
    max-width: 50%;
  }
  .main__form__btn {
    left: calc(100% - 50px);
  }
  .main__info {
    max-width: 60%;
    font-size: 0.8125rem;
  }
  .main__list_two {
    margin-bottom: 2vh;
  }
  .main__remember {
    margin-bottom: 2.34375vh;
    width: 50%;
  }
  .main__rest_time {
    position: absolute;
    top: 16vh;
    right: 15%;
  }
  .main__popup__wrapper {
    width: 40%;
    margin: 30vh auto;
  }
  .main__popup__wrapper__flex {
    display: flex;
    flex-direction: row-reverse;
  }
  .main__cam {
    position: absolute;
    width: 30%;
    top: 22vh;
    right: 15%;
  }
  .main__button {
    width: 53%;
  }
  .main__button.--record {
    justify-content: center;
  }
  .img_mail {
    position: absolute;
    width: 20%;
    top: 15vh;
    left: 55vw;
  }
}
