@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --greyish-brown: #595959;
  --greyish-brown-two: #424242;
  --brownish-grey: #727272;
  --light-sky-blue: #dde2e6;
  --light-grey-blue: #abb2b7;
  --brown-grey: #8b8b8b;
  --coral: #ff4343;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'NotoSans';
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'NotoSans';
  src: url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@-webkit-keyframes spinAfter {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes spinAfter {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes pulseRecordBefore {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 93, 93, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 93, 93, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 93, 93, 0);
  }
}

@keyframes pulseRecordBefore {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 93, 93, 0.8);
    box-shadow: 0 0 0 0 rgba(255, 93, 93, 0.8);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 93, 93, 0);
    box-shadow: 0 0 0 10px rgba(255, 93, 93, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 93, 93, 0);
    box-shadow: 0 0 0 0 rgba(255, 93, 93, 0);
  }
}

@-webkit-keyframes pulseCallAfter {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(221, 226, 230, 0.6);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(221, 226, 230, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(221, 226, 230, 0);
  }
}

@keyframes pulseCallAfter {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(221, 226, 230, 0.6);
    box-shadow: 0 0 0 0 rgba(221, 226, 230, 0.6);
  }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba(221, 226, 230, 0);
    box-shadow: 0 0 0 30px rgba(221, 226, 230, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(221, 226, 230, 0);
    box-shadow: 0 0 0 0 rgba(221, 226, 230, 0);
  }
}

@-webkit-keyframes pulseCallBefore {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(221, 226, 230, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(221, 226, 230, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(221, 226, 230, 0);
  }
}

@keyframes pulseCallBefore {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(221, 226, 230, 0.8);
    box-shadow: 0 0 0 0 rgba(221, 226, 230, 0.8);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(221, 226, 230, 0);
    box-shadow: 0 0 0 15px rgba(221, 226, 230, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(221, 226, 230, 0);
    box-shadow: 0 0 0 0 rgba(221, 226, 230, 0);
  }
}

body {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.spiner {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spiner::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .5;
}

.spiner::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  background-image: url(../img/spiner.svg);
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  will-change: transform;
  -webkit-animation: spinAfter 2s infinite;
  /* Safari 4+ */
  -moz-animation: spinAfter 2s infinite;
  /* Fx 5+ */
  -o-animation: spinAfter 2s infinite;
  /* Opera 12+ */
  animation: spinAfter 2s infinite;
  /* IE 10+, Fx 29+ */
  animation-timing-function: linear;
}

.container {
  padding: 0 15px;
  margin: auto;
}

.header {
  padding: 14px 0;
  background-color: #f2f2f2;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list_langs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0.8125rem;
}

.header__list_langs__item {
  color: var(--brown-grey);
  padding-right: 12px;
  border-right: 1px solid var(--greyish-brown);
}

.header__list_langs__item:last-child {
  padding-left: 13px;
  padding-right: 0;
  border-right: none;
}

.header__list_langs__item.--active {
  font-weight: bold;
  color: var(--greyish-brown);
}

.main {
  background: url("../img/group-2.jpg") no-repeat center/cover;
  padding-top: 32px;
  min-height: calc(100vh - 55px);
}

.main__h1.--index {
  font-size: 2.125rem;
  line-height: 1.06;
  color: var(--greyish-brown-two);
  margin: 0 0 1rem;
}

.main__p.--index {
  font-family: NotoSans;
  font-size: 0.9375rem;
  color: var(--brownish-grey);
  margin: 0 0 1.5rem;
}

.main__step {
  font-size: 0.875rem;
  color: var(--greyish-brown);
  margin: 0;
}

.main__h1.--step {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.31;
  margin: 0 0 2rem;
}

.main__h1.--final {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.31;
  margin: 0 0 1rem;
}

.main__h4.--final {
  margin: 0 0 .5rem;
}

.main__p.--step {
  margin-bottom: 2.625rem;
  padding-right: 0;
  color: var(--greyish-brown);
}

.main__h1.--qestions {
  font-size: 2rem;
  font-weight: normal;
  color: var(--greyish-brown-two);
  margin: 0 0 1rem;
}

.main__form__wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}

.main__form__tel, .main__form__number {
  font-family: NotoSans;
  font-size: 0.9375rem;
  padding: 1.063rem 1.9375rem;
  color: var(--greyish-brown);
  border: solid 1px var(--light-sky-blue);
  outline: none;
  width: 100%;
}

.main__form__number::-webkit-outer-spin-button, .main__form__number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main__form__btn {
  display: block;
  position: absolute;
  top: calc(50% - 8px);
  right: 20px;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.main__info {
  font-family: NotoSans;
  font-size: 0.75rem;
  color: #232332;
}

.main__info > p {
  margin-bottom: 0;
}

.main__info__callMe {
  font-size: 0.8125rem;
  font-weight: bold;
  color: #75af26;
  display: none;
  cursor: pointer;
}

.main__info__callMe__img {
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 12px;
}

.main__info__callBank {
  display: none;
  align-items: center;
  margin: 26px 0 0 26px;
}

.main__info__callBank__pulse {
  position: relative;
  margin-right: 26px;
}

.main__info__callBank__pulse__img {
  width: 1.125rem;
  height: 1.125rem;
  margin: 5px;
}

.main__info__callBank__pulse::after, .main__info__callBank__pulse::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(221, 226, 230, 0.6);
}

.main__info__callBank__pulse::after {
  -webkit-animation: pulseCallAfter 2s infinite;
  /* Safari 4+ */
  -moz-animation: pulseCallAfter 2s infinite;
  /* Fx 5+ */
  -o-animation: pulseCallAfter 2s infinite;
  /* Opera 12+ */
  animation: pulseCallAfter 2s infinite;
  /* IE 10+, Fx 29+ */
}

.main__info__callBank__pulse::before {
  -webkit-animation: pulseCallBefore 2s infinite;
  /* Safari 4+ */
  -moz-animation: pulseCallBefore 2s infinite;
  /* Fx 5+ */
  -o-animation: pulseCallBefore 2s infinite;
  /* Opera 12+ */
  animation: pulseCallBefore 2s infinite;
  /* IE 10+, Fx 29+ */
}

.main__line {
  opacity: 0.5;
  background-color: var(--light-grey-blue);
  margin: 0.5rem 0 0.75rem;
}

.main__list {
  padding: 0;
  list-style: none;
  margin-bottom: 1.75rem;
}

.main__list__item {
  display: flex;
  margin-bottom: 1rem;
}

.main__list__item__text {
  padding-left: 12px;
  font-weight: bold;
  font-size: 0.875rem;
}

.main__number_list {
  padding-left: 25px;
  margin-bottom: 2.25rem;
}

.main__number_list__item {
  font-size: 0.9375rem;
  color: var(--greyish-brown);
  margin-bottom: 1.5rem;
}

.main__list_two {
  margin-bottom: 2.625rem;
  color: var(--greyish-brown);
}

.main__list_two__item__text {
  font-weight: bold;
}

.main__list_recruiter {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main__list_recruiter__item {
  font-size: 0.9375rem;
  line-height: 1.47;
  color: var(--greyish-brown);
}

.main__remember {
  border-radius: 8px;
  background-color: #f3f3f3;
  padding: 10px;
  margin-bottom: 1.5rem;
}

.main__remember__header {
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: var(--coral);
  margin: 0 0 0.625rem;
}

.main__remember__text {
  font-size: 0.8125rem;
  color: var(--greyish-brown);
  margin: 0;
}

.main__rest_time {
  display: none;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.main__rest_time__text {
  font-family: NotoSans;
  font-size: 0.9375rem;
  line-height: 1.2;
  color: var(--greyish-brown-two);
  padding-right: 16px;
}

.main__rest_time__time {
  font-family: NotoSans;
  font-size: 22px;
  font-weight: bold;
  color: var(--greyish-brown-two);
  border-radius: 8px;
  background-color: #f3f3f3;
  padding: 6px 13px;
}

.main__cam {
  display: flex;
  background-color: #f3f3f3;
  position: relative;
  margin: 0 0 1rem;
}

.main__cam__video {
  width: 100%;
  height: 100%;
}

.main__cam__watch {
  display: none;
}

.main__cam__bg-watch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.75;
  background-color: var(--greyish-brown);
  z-index: 1;
}

.main__cam__content-watch {
  position: absolute;
  left: calc(50% - 70px);
  top: calc(50% - 70px);
  text-align: center;
  font-family: NotoSans;
  font-size: 0.875rem;
  color: #fff;
  font-weight: normal;
  z-index: 2;
}

.main__cam.--start::after {
  content: 'ГОТОВО К ЗАПИСИ';
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 0.625rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--greyish-brown-two);
  border-radius: 17px;
  background-color: #ffffff;
  padding: 10px 13px;
}

.main__cam.--pause::after {
  content: 'ПАУЗА';
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 0.625rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #4b4e4f;
  border-radius: 17px;
  background-color: var(--light-sky-blue);
  padding: 10px 13px;
}

.main__cam.--record::after {
  content: 'ИДЕТ ЗАПИСЬ';
  position: absolute;
  top: 12px;
  left: 56px;
  font-size: 0.625rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ffffff;
  border-radius: 17px;
  background-color: #ff5d5d;
  padding: 10px 13px;
}

.main__cam.--record::before {
  content: "";
  display: block;
  position: absolute;
  top: 21px;
  left: 21px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff5d5d;
  box-shadow: 0 0 0 rgba(255, 93, 93, 0.6);
  -webkit-animation: pulseRecordBefore 2s infinite;
  /* Safari 4+ */
  -moz-animation: pulseRecordBefore 2s infinite;
  /* Fx 5+ */
  -o-animation: pulseRecordBefore 2s infinite;
  /* Opera 12+ */
  animation: pulseRecordBefore 2s infinite;
  /* IE 10+, Fx 29+ */
}

.main__popup {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main__popup__wrapper {
  position: absolute;
  z-index: 11;
  background-color: #fff;
  width: calc(100vw - 32px);
  top: calc(50% - 190px);
  left: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.main__popup__wrapper__header {
  font-size: 1.25rem;
  line-height: 1.6;
  text-align: center;
  color: var(--greyish-brown);
}

.main__popup__wrapper__text {
  font-family: NotoSans;
  font-size: 0.9375rem;
  line-height: 1.47;
  text-align: center;
  color: var(--greyish-brown);
  margin-bottom: 3.5rem;
}

.main__popup__wrapper__flex__button {
  font-family: NotoSans;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 18px 0;
  display: block;
  width: 100%;
  color: var(--greyish-brown);
  background-color: var(--light-sky-blue);
}

.main__popup__wrapper__flex__button.--clear {
  background-color: transparent;
}

.main__popup::before {
  content: ' ';
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .5;
}

.main__button {
  font-family: NotoSans;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  color: var(--greyish-brown);
  background-color: var(--light-sky-blue);
  margin-bottom: 2rem;
}

.main__button.--record {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.main__button.--record__text {
  margin-left: 30px;
}

.main__button.--stop {
  display: none;
  margin-bottom: 0.75rem;
}

.main__button.--pause {
  display: none;
}

.main__button.--continue {
  display: none;
}

.main__button.--overwrite {
  display: none;
  margin-bottom: 0.75rem;
}

.main__button.--next {
  display: none;
}

.main.--none_img {
  background-image: none;
}

.img_mail {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100% - 30px);
  max-width: 500px;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.d-block {
  display: block !important;
}
