@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 70%;
  }
  .main__form {
    width: 50%;
  }
  .main__popup__wrapper {
    max-width: 360px;
    left: calc(50% - 190px);
  }
}
