:root {
    --greyish-brown: #595959;
    --greyish-brown-two: #424242;
    --brownish-grey: #727272;
    --light-sky-blue: #dde2e6;
    --light-grey-blue: #abb2b7;
    --brown-grey: #8b8b8b;
    --coral: #ff4343;
}
