@import "root";
@import "font";

@-webkit-keyframes spinAfter {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes spinAfter {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes pulseRecordBefore {
    0% {

        -webkit-box-shadow: 0 0 0 0 rgba(255, 93, 93, .8);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 93, 93, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 93, 93, 0);
    }
}

@keyframes pulseRecordBefore {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 93, 93, .8);
        box-shadow: 0 0 0 0 rgba(255, 93, 93, .8);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 93, 93, 0);
        box-shadow: 0 0 0 10px rgba(255, 93, 93, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 93, 93, 0);
        box-shadow: 0 0 0 0 rgba(255, 93, 93, 0);
    }
}

@-webkit-keyframes pulseCallAfter {
    0% {

        -webkit-box-shadow: 0 0 0 0 rgba(221, 226, 230, .6);
    }

    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(221, 226, 230, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(221, 226, 230, 0);
    }
}

@keyframes pulseCallAfter {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(221, 226, 230, .6);
        box-shadow: 0 0 0 0 rgba(221, 226, 230, .6);
    }

    70% {
        -moz-box-shadow: 0 0 0 30px rgba(221, 226, 230, 0);
        box-shadow: 0 0 0 30px rgba(221, 226, 230, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(221, 226, 230, 0);
        box-shadow: 0 0 0 0 rgba(221, 226, 230, 0);
    }
}

@-webkit-keyframes pulseCallBefore {
    0% {

        -webkit-box-shadow: 0 0 0 0 rgba(221, 226, 230, .8);
    }

    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(221, 226, 230, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(221, 226, 230, 0);
    }
}

@keyframes pulseCallBefore {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(221, 226, 230, .8);
        box-shadow: 0 0 0 0 rgba(221, 226, 230, .8);
    }

    70% {
        -moz-box-shadow: 0 0 0 15px rgba(221, 226, 230, 0);
        box-shadow: 0 0 0 15px rgba(221, 226, 230, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(221, 226, 230, 0);
        box-shadow: 0 0 0 0 rgba(221, 226, 230, 0);
    }
}

body {
    margin: 0;
    font-family: OpenSans, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    background-color: #f2f2f2;

    &__langs {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 0.8125rem;

        &__lang.--active {
            font-weight: bold;
            color: var(--greyish-brown);
        }

        &__lang {
            color: var(--brown-grey);
        }

        &__lang:first-child {
            padding-right: 13px;
        }

        &__lang:last-child {
            padding-left: 12px;
            border-left: 1px solid var(--greyish-brown);
        }
    }
}

.main.--none_img {
    background-image: none;
}

.main.--none_height {
    min-height: 0;
}


.img_mail {
    position: absolute;
    bottom: 0px;
    max-width: 100%;
    left: calc(50vw - 144px);
}

@media (max-height: 600px) {
    .img_mail {
        bottom: -110px;
    }
}

.main {
    background: url('../img/group-2.jpg') no-repeat center/cover;
    box-sizing: border-box;
    padding: 32px 16px 0;
    min-height: calc(100vh - 55px);

    &__step {
        font-size: 0.875rem;
        color: var(--greyish-brown);
        margin: 0;
    }

    &__h1 {
        font-size: 2.125rem;
        font-weight: bold;
        line-height: 1.06;
        margin: 0 0 1rem;
        color: var(--greyish-brown);
    }

    &__h5 {
        font-size: 12px;
        letter-spacing: 1.2px;
        color: var(--greyish-brown-two);
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__h1.--step {
        font-size: 2rem;
        font-weight: normal;
        line-height: 1.31;
        margin: 0 0 2rem;
    }

    &__h1.--final {
        font-size: 1.5rem;
        font-weight: normal;
        line-height: 1.17;
        margin: 0 0 2.625rem;
    }

    &__text {
        font-size: 0.9375rem;
        color: var(--greyish-brown);
    }

    &__text.--start {
        font-family: NotoSans;
        width: 70vw;
        color: var(--brownish-grey);
    }

    &__text.--first {
        margin-bottom: 2rem;
        opacity: 0.8;
    }

    &__text.--second {
        font-family: NotoSans;
        margin-bottom: 2.625rem;
        line-height: 1.6;
        opacity: 0.8;
    }

    &__text.--third {
        margin-bottom: 2.625rem;
        padding-right: 0;
        color: var(--greyish-brown);
    }

    &__text.--fourth {
        opacity: 0.8;
        font-size: 0.9375rem;
        color: var(--greyish-brown);
        padding-right: 0;
    }

    &__acquaintance {
        font-weight: bold;
        margin-bottom: 2.25rem;
    }

    &__form {
        position: relative;

        &__inputTel,
        &__inputNumber {
            display: block;
            width: 100%;
            box-sizing: border-box;
            padding: 1.063rem 1.9375rem;
            background-color: #fff;
            border: solid 1px var(--light-sky-blue);
            font-family: NotoSans;
            font-size: 0.9375rem;
            color: var(--greyish-brown);
            outline: none;
        }

        &__inputNumber::-webkit-outer-spin-button,
        &__inputNumber::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &__tel:focus {
            outline: none;
        }

        &__btn {
            position: absolute;
            top: calc(50% - 8.5px);
            left: calc(100% - 11vw);
            padding: 0;
            border: none;
            line-height: 0;
            background-color: transparent;
            cursor: pointer;
        }
    }

    &__info {
        font-family: NotoSans;
        font-size: 0.75rem;
        color: #232332;

        &>p {
            margin-bottom: 0;
        }

        &__callMe {
            font-size: 0.8125rem;
            font-weight: bold;
            color: #75af26;
            display: none;
            cursor: pointer;

            &__img {
                width: 1.125rem;
                height: 1.125rem;
                margin-right: 12px;
            }
        }

        &__callBank {
            display: none;
            align-items: center;
            margin: 26px 0 0 26px;

            &__pulse {
                position: relative;
                margin-right: 26px;

                &__img {
                    width: 1.125rem;
                    height: 1.125rem;
                    padding: 5px;
                }
            }

            &__pulse::after,
            &__pulse::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                box-shadow: 0 0 0 rgba(221, 226, 230, .6);
            }

            &__pulse::after {
                animation: pulseCallAfter 2s infinite;
            }

            &__pulse::before {
                animation: pulseCallBefore 2s infinite;
            }
        }
    }

    &__line_recruiter {
        opacity: 0.5;
        background-color: var(--light-grey-blue);
        margin: 0.5rem 0 0.75rem;
    }

    &__list {
        padding: 0;
        list-style: none;
        margin-bottom: 1.75rem;

        &__item {
            display: flex;
            margin-bottom: 1rem;

            &__text {
                padding-left: 12px;
                font-weight: bold;
                font-size: 0.875rem;
            }
        }
    }

    &__number_list {
        padding-left: 25px;
        margin-bottom: 2.25rem;

        &__item {
            font-size: 0.9375rem;
            color: var(--greyish-brown);
            margin-bottom: 1.5rem;
        }
    }

    &__list_two {
        margin-bottom: 2.625rem;
        color: var(--greyish-brown);

        &__item {
            &__text {
                font-weight: bold;
            }
        }
    }

    &__list_recruiter {
        list-style: none;
        padding: 0;
        margin: 0;

        &__item {
            font-size: 0.9375rem;
            line-height: 1.47;
            color: var(--greyish-brown);
        }
    }

    &__remember {
        border-radius: 8px;
        background-color: #f3f3f3;
        padding: 10px;
        margin-bottom: 1.5rem;

        &__header {
            font-size: 0.75rem;
            font-weight: bold;
            letter-spacing: 1.2px;
            color: var(--coral);
            margin: 0 0 0.625rem;
        }

        &__text {
            font-size: 0.8125rem;
            color: var(--greyish-brown);
            margin: 0;
        }
    }

    &__rest_time {
        display: none;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 1rem;

        &__text {
            font-family: NotoSans;
            font-size: 0.9375rem;
            line-height: 1.2;
            color: var(--greyish-brown-two);
            padding-right: 16px;
        }

        &__time {
            font-family: NotoSans;
            font-size: 22px;
            font-weight: bold;
            color: var(--greyish-brown-two);
            border-radius: 8px;
            background-color: #f3f3f3;
            padding: 6px 13px;
        }
    }

    &__cam {
        display: flex;
        background-color: #f3f3f3;
        margin-bottom: 1.5rem;
        position: relative;

        &__video {
            width: 100%;
            height: 100%;
        }
    }

    &__cam::after {
        content: 'ГОТОВО К ЗАПИСИ';
        position: absolute;
        top: 12px;
        left: 12px;
        font-size: 0.625rem;
        font-weight: bold;
        letter-spacing: 2px;
        color: var(--greyish-brown-two);
        border-radius: 17px;
        background-color: #ffffff;
        padding: 10px 13px;
    }

    &__cam.--pause::after {
        content: 'ПАУЗА';
        position: absolute;
        top: 12px;
        left: 12px;
        font-size: 0.625rem;
        font-weight: bold;
        letter-spacing: 2px;
        color: #4b4e4f;
        border-radius: 17px;
        background-color: var(--light-sky-blue);
        padding: 10px 13px;
    }

    &__cam.--record::after {
        content: 'ИДЕТ ЗАПИСЬ';
        position: absolute;
        top: 12px;
        left: 56px;
        font-size: 0.625rem;
        font-weight: bold;
        letter-spacing: 2px;
        color: #ffffff;
        border-radius: 17px;
        background-color: #ff5d5d;
        padding: 10px 13px;
    }

    &__cam.--record::before {
        content: "";
        display: block;
        position: absolute;
        top: 21px;
        left: 21px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #ff5d5d;
        box-shadow: 0 0 0 rgba(255, 93, 93, .6);
        animation: pulseRecordBefore 2s infinite;
    }

    &__cam.--stop::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.75;
        background-color: var(--greyish-brown);
        z-index: 1;
    }

    &__cam.--stop::after {
        content: "ПРОИГРАТЬ ВИДЕО";
        background: url('../img/camera-copy-6.svg') no-repeat;
        background-position: top center;
        border-radius: 0;
        z-index: 2;
        left: calc(50% - 81px);
        font-family: NotoSans;
        font-size: 0.875rem;
        color: #fff;
        font-weight: normal;
        padding: 90px 0 0;
        margin-top: 10%;
    }

    &__spiner {
        display: none;
        position: fixed;
        z-index: 10;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__spiner::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: .5;
    }

    &__spiner::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        background-image: url(../img/spiner.svg);
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        width: 100px;
        height: 100px;
        animation: spinAfter 2s infinite;
        animation-timing-function: linear;
    }

    &__popup {
        display: none;
        position: fixed;
        z-index: 10;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        &__wrapper {
            position: relative;
            z-index: 11;
            background-color: #fff;
            width: calc(100vw - 32px);
            margin: 17vh auto;
            padding: 16px;
            box-sizing: border-box;

            &__header {
                font-size: 1.25rem;
                line-height: 1.6;
                text-align: center;
                color: var(--greyish-brown);
            }

            &__text {
                font-family: NotoSans;
                font-size: 0.9375rem;
                line-height: 1.47;
                text-align: center;
                color: var(--greyish-brown);
                margin-bottom: 3.5rem;
            }

            &__flex {
                &__button {
                    font-family: NotoSans;
                    font-size: 0.875rem;
                    font-weight: bold;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 18px 0;
                    display: block;
                    width: 100%;
                    color: var(--greyish-brown);
                    background-color: var(--light-sky-blue);
                }

                &__button.--clear {
                    background-color: transparent;
                }
            }

        }
    }

    &__popup::before {
        content: ' ';
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: .5;
    }

    &__button {
        font-family: NotoSans;
        display: block;
        font-size: 0.875rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 18px 0;
        margin-bottom: 4.25rem;
        width: 100%;
        color: var(--greyish-brown);
        background-color: var(--light-sky-blue);
    }

    &__button.--record {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;

        &__text {
            margin-left: 30px;
        }
    }

    &__button.--stop {
        display: none;
        margin-bottom: 0.75rem;
    }

    &__button.--pause {
        display: none;
    }

    &__button.--continue {
        display: none;
    }

    &__button.--overwrite {
        display: none;
        margin-bottom: 0.75rem;
    }

    &__button.--next {
        display: none;
    }

}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex !important;
}

.d-block {
    display: block !important;
}