@media (min-width: 1024px) {

    .main {
        background: url('../img/depositphotos-117989744-xl-2015-1.jpg') no-repeat center/cover;
        position: relative;
        padding: 10% 25% 0 15%;

        &__h1 {
            font-size: 3.5rem;
        }

        &__h1.--final {
            max-width: 60%;
        }

        &__text {
            font-size: 1.0625rem;
        }

        &__text.--start {
            max-width: 80%;
        }

        &__text.--second {
            line-height: 1.41;
            max-width: 585px;
        }

        &__text.--third {
            width: 60%;
        }

        &__text.--fourth {
            line-height: 1.41;
            width: 60%;
        }

        &__text.--final {
            max-width: 60%;
        }

        &__line_recruiter {
            max-width: 40%;
        }

        &__number_list {
            max-width: 60%;
        }

        &__form {
            max-width: 50%;

            &__btn {
                left: calc(100% - 50px);
            }
        }

        &__info {
            max-width: 60%;
            font-size: 0.8125rem;
        }

        &__list_two {
            margin-bottom: 2vh;
        }

        &__remember {
            margin-bottom: 2.34375vh;
            width: 50%;
        }

        &__rest_time {
            position: absolute;
            top: 16vh;
            right: 15%;
        }

        &__popup {
            &__wrapper {
                width: 40%;
                margin: 30vh auto;

                &__flex {
                    display: flex;
                    flex-direction: row-reverse;
                }
            }
        }

        &__cam {
            position: absolute;
            width: 30%;
            top: 22vh;
            right: 15%;
        }


        &__button {
            width: 53%;
        }

        &__button.--record {
            justify-content: center;
        }
    }

    .img_mail {
        position: absolute;
        width: 20%;
        top: 15vh;
        left: 55vw;
    }
}